h1 {
  margin-top: 0.5rem;
}

h4 {
  margin-top: 0.5rem;
}

.author {
  font-size: 12px;
}

.brand {
  font-size: 40px;
  text-transform: uppercase;
}

.sensei {
  color: #57d3d6;
}

.headershot-img {
  border-radius: 50%;
  width: 100%;
  max-width: 260px;
}

.App {
  text-align: center;
  justify-content: center;
}

.App .row {
  justify-content: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-headershot-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 300px;
  max-width: 1333px;
  background-image: url("background3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*background-size: 100%;*/
}

.App-headershot {
  width: 100%;
  padding-top: 70px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 576px) {
  /*.headershot-img {*/
    /*display: none;*/
  /*}*/
  .headershot-img {
    max-width: 110px;
  }
  .App-headershot-wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }
  .brand {
    font-size: 30px;
  }
}

.add-top-menu {
  display: none !important;
}

@media (max-width: 1300px) {
  .App-headershot-wrapper {
    padding-right: 15px;
    padding-left: 15px;
    background-image: url("background2.jpg");
  }
  .remove-side-menu {
    display: none;
  }
  .add-top-menu {
    display: flex !important;
  }
  .brand {
    font-size: 30px;
  }
}

.App-header {
  background-color: #000000;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  /*padding: 35px;*/
  background: url("1151629.jpg") no-repeat;
  background-size: cover;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}